<strong>Olá, {{student}} </strong>
<p>Seja Bem vindo a academia GymPoint confira os detalhes da sua matricula abaixo:</p>
<p>
  <strong>Plano: </strong> {{plan}} ({{duration}} meses) <br/>
  <strong>Data de Termino do contrato: </strong> {{end_date}}<br/>
  <strong>Preço do Plano: </strong> {{price}}<br/>
  <br />
</p>
